<!-- templates/about/author.html -->
{% extends "base.html" %}
{% block title %}Об авторе проекта{% endblock %}
{% block content %}
{% load user_filters %}


  <main role="main" class="container">
    <div class="row">
      <div class="col-md-3 mb-3 mt-1">
        <div class="card">
          <div class="card-body">
            <ul class="list-group list-group-flush">
              <li class="list-group-item">
                <div class="h4">
                  Кириченко Д.Р.
                  {% load static %}
                </div> 
              </li>
              <li class="list-group-item">
                <div class="h6 text-muted">
                  <p><a href="https://github.com/DenisKirichenko24 ">Github</a></p>
                  <p><a href="https://www.instagram.com/deniskirichenko">Instagram</a></p>
                  <p><a href="https://t.me/DenisKirichenko">Telegram</a></p>               
                </div>
              </li>
            </ul>                                               
          </div>                    
        </div>                
      </div>
      <div class="col-md-9">
        <div class="card-body">                    
          <div class="card-text">
            <p> Всем привет=) Меня зовут Денис и я студент 17 потока курса Python-разработчик на Яндекс.практикуме.
                <p>До 25 лет проживал в Санкт-Петербурге но позже переехал в Испанию,город Лорка. Небольшой город на юге страны с населением ~95 тыс.человек.</p>
                <p>Программированием увлекся еще будучи на 4 курсе университета, но начал с трудного (как мне кажется) языка для начинающих программистов - Java.</p>
                И после месяца изучения перестал. Когда случился локдаун и нас всех закрыли по домам прошел вводный курс от яндекса по Python-разработке. Хочется отметить что 
                несмотря на то, что это вводный курс, он у меня занял достаточно много времени и сил на прохождение. Также его плюс в том, что ты можешь понять нравится ли тебе 
                действительно эта сфера или нет. Мне понравился и теперь я здесь, пытаюсь освоить эту нелегкую профессию =)
                <p>Рад приветствовать вас на этом сайте, надеюсь он не слишком косячный=)</p>
                <p>Обратную связь можете оставить в постах или найти все мои ссылки чуть выше.</p>
            </p>            
          </div>                    
        </div>                
      </div>            
    </div>        
  </main>
{% endblock %}